<div class="scan-details" *ngIf="startScan">
    <div>
        Scan a card to see a person's details
    </div>
    <div class="scanner">
        <zxing-scanner (scanSuccess)="completeScan($event)" ></zxing-scanner>
    </div>
</div>

<div class="scan-details" *ngIf="!startScan">
    <div class="user-card">
        <div *ngIf="userInfo" class="user-info">
            <span>Mundane Name: {{userInfo.mundane_name}}</span>
            <span>Persona Name: {{userInfo.persona_name}}</span>
            <span>Age: {{userInfo.age}}</span>
            <span>Notes: {{userInfo.notes}}</span>
        </div>
        <div *ngIf="!userInfo" class="loading">
            Loading...
        </div>
    </div>
    
    
</div>