
:host zxing-scanner::ng-deep video{
    height: 90vh;
    width: 100vw;
    object-fit: contain;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.4em;
    button {
        align-self: center;
        height: 35px;
        width: 90px;
        border-radius: 5px;
        background: #C2C2C2;
        border: none;
        color: #102A43;
        margin-top: 5px;
    }
}
.user-card {
    background: #D9E2EC;
    border-radius: 20px;
    width: 70vw;
    height: 25vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scan-details {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}