<div class="scanner" *ngIf="startScan">
    <zxing-scanner (scanSuccess)="completeScan($event)" ></zxing-scanner>
</div>

<div class="scan-details" *ngIf="!startScan">
    <div class="user-card">
        <div *ngIf="playerInfo" class="user-info">
            <span>Mundane Name: {{playerInfo.mundane_name}}</span>
            <span>Persona Name: {{playerInfo.persona_name}}</span>
            <span>Age: {{playerInfo.age}}</span>
            <span>Notes: {{playerInfo.notes}}</span>
            <button (click)="resetPlayer();">Scan again</button>
        </div>
        <div *ngIf="!playerInfo" class="loading">
            Loading...
        </div>
    </div>    
</div>