zxing-scanner  {
    max-height: 70px;
    width: 25vw;
    object-fit: contain;
}
.scan-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}