<form [formGroup]="cardDetails" (ngSubmit)="onSubmit()" *ngIf="!startScan">
    <input type="text" formControlName="mundane_name" placeholder="Mundane Name">
    <input type="text" formControlName="persona_name" placeholder="Persona Name">
    <input type="number" formControlName="age" placeholder="Age" min="1">
    <input type="text" formControlName="notes" placeholder="Notes">
    <button type="submit" [disabled]="!cardDetails.valid">Set up card</button>
</form>
<div *ngIf="startScan">
    <div class="cancel" (click)="cancelScan();">
        <span class="material-icons">
            clear
        </span> 
    </div>
    <zxing-scanner (scanSuccess)="completeScan($event)" ></zxing-scanner>
</div>
